*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

h1{
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}
.nav li{
    display: inline-block;
}
.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;

}
.nav .blog {
    background-color: red;
}