:root{
    --primery-color:#003476;
    --secundary-color:#b4d2f7;
    --header-size:15rem;
    --font:1.8rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    width: 100vw;
    height: var(--header-size);
    background-color: var(--primery-color);

}
main{
    width: 100vh;
    height: 70vh;
    font-size: 1.8rem;
}
h1{
    font-size: 4rem;
    color: var(--primery-color);
    
}
p{
    color: var(--secundary-color);
}
footer{
    width: 100vw;
    height: var(--header-size);
    background-color: var(--secundary-color);
}